.main {
  background-color: #202124;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.divLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 300px;
  padding-bottom: 25px;
}
.divBusqueda {
  color: transparent;
  flex: 100%;
  height: 34px;
  text-align: center;
  padding-bottom: 25px;
}
.textoBuscar {
  background: transparent;
  border: solid;
  margin: 0;
  padding: 0;
  color: #e8eaed;
  height: 34px;
  width: 400px;
  font-size: 16px;
}
.divBotones {
  display: block;
  text-align: center;
}
.divIdioma {
  color: #bdc1c6;
  display: inline-block;
  line-height: 28px;
  font-size: small;
  margin-bottom: 24px;
  text-align: center;
  padding-bottom: 400px;
}
.divIdioma a{
  color: #8ab4f8
}
.App-logo {
  width: 272px;
  height: 92px;
}
.botonGris {
  background-color: #303134;
  border: 1px solid #303134;
  border-radius: 4px;
  color: #e8eaed;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}